img {
    width: 100%;
}

header {
    background-image: url(../../img/wall.png);
    h1{
        font-family: "Sometype Mono", monospace;
        font-optical-sizing: auto;
        font-weight: 900;
        font-style: normal;
    }
}

main{
    background-image: url(../../img/cork.png);
}